AWSTemplateFormatVersion: '2010-09-09'
Description: jinja template for generating ACM Certificate

# Currently only works when no subalt_names are specified
# Cloudformation times out before subalt names can be validated


Outputs:
  AcmCertificateArn:
    Description: ARN of the generated ACM Certificate
    Value: !Ref DemoCertificate

Resources:
  DemoCertificate:
    Type: AWS::CertificateManager::Certificate
    Properties: 
      DomainName: {{ sceptre_user_data.domain_name }}
      ValidationMethod: DNS
      DomainValidationOptions: 
        - DomainName: {{ sceptre_user_data.domain_name }}
          HostedZoneId: {{ sceptre_user_data.hosted_zone_id }}
      {% if sceptre_user_data.subalt_names is defined %}
      SubjectAlternativeNames:
        {% for subalt_name in sceptre_user_data.subalt_names.split(',') %}
        - {{ subalt_name }}
        {% endfor %}        
      {% endif %}
